<p>seats-selection works!</p>
<!-- <app-navigation></app-navigation> -->

<div class="container-fluid pt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-9 ">

        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats </h6>
            <div class="row">
            <ng-container *ngFor="let i of arrTtlGoldSeats" >


              <div class="col-md-3">
                <!-- ** <div id="location_{{i}}">write something which you want like {{i}}
                    this is also Working
                </div> -->
                <!-- <a (click)="Seat(i)"  [title]="'G'+i"> -->
                  G{{i}}  <img [src]="seatImgUrl" #attendee (click)="Seat(i,$event)" [name]="'G'+i"  [attr.id]="'G'+i" alt="">
                <!-- </a> -->
              </div>
                <!-- <div class="col-md-3">
                  <a (click)="Seat(i)" id="'G'+i+1" title="['G'+i+1]">
                    G{{i}}  <img src="../assets/img/bseat.png" alt="">
                  </a>
                </div> -->

            </ng-container>
          </div>
          <div class="row">
            <ng-container *ngFor="let i of arrTtlSilverSeats">


                <!-- <div class="col-md-3">
                  <a (click)="Seat('S'+i)" id="'S'+i" title="['S'+i]">
                    S{{i}}  <img src="../assets/img/bseat.png" alt="">
                  </a>
                </div>
               -->
            </ng-container>
          </div>
              <div class="row">

                <ul>
                  <!-- ROW 3 START -->
                  <li>
                    <!-- <a title="[A3]" (click)="Seat('A3')" id="A3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a> -->
                  </li>

                </ul>

                <!-- ROW 3 COMPLETE  -->

                <ul>
                  <!-- ROW 4 START  -->
                  <li>
                    <!-- <a title="[A4]" (click)="Seat('A4')" id="A4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a> -->
                  </li>

                </ul>

              </div>

            <div *ngIf="alert"class="alert alert-danger ">You can buy only {{maxSeats}} seats in one time </div>
          </div>
          <div class="col-md-6 ">
          <div class="seat_plan">
            <table class="table ">
              <thead>
                <tr>
                  <th>Seats</th>
                  <th>Fare</th>
                  <th>Class</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of showSeatList">
                  <td>{{s.seatNo}}</td>
                  <td>{{s.price}}</td>
                  <td>{{s.seatType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="total  bg-default">
              <b>Total: {{total}}</b>
            </div>
            <div class="row ">
              <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block ">Confirm</button>
            </div>
          </div>

      </div>
      </div>
    </div>
  </div>

<!-- <app-footer></app-footer> -->
