<p>selected-movie works!</p>
movieId : {{movieId}}<br>

<!-- <p>single-movie-view works!</p> -->
<!-- <app-navigation></app-navigation> -->
<div class="container">


<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-muted">movie title {{movieListDto.title}}</h3>
                <h6 class="card-subtitle text-muted mb-3">
                    movies categories :
                    
                    </h6>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class=" text-center">
                            <img src="../../../../assets/images//movies/movie4.jpg" class="img-fluid mw-100 h-auto" > </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h4 class="text-muted m-t-40 ">Product description</h4>
                        <p>
                            Description: {{movieListDto.description}}
                            
                        </p>
                        <h2 class="m-t-40 text-muted">Gold Ticket Price  {{movieListDto.goldPrice}} rs.
                            <small class="text-success">(36% off)</small>
                        </h2>
                        <h2 class="m-t-40 text-muted">Silver Ticket Price  {{movieListDto.silverPrice}} rs.
                            <small class="text-success">(36% off)</small>
                        </h2>
                        <!-- <button class="btn btn-dark  rounded-pill m-r-5" data-toggle="tooltip" title="" data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart bg-dark"></i>
                        </button> -->
                        <button class="btn btn-dark  rounded-pill mr-3" >
                            <i class="fa fa-shopping-cart bg-dark"></i>
                        </button>
        
                        <button class="btn btn-primary  rounded-pill" (click)="funBookNow()"> Book Now </button>
                        <h3 class="mt-4 text-muted ">Key Highlights</h3>
                        <ul class="list-unstyled">
                            <li *ngFor="let cat of categories">
                                <i class="fa fa-check text-success"></i> {{cat.name}}</li>
                            <li>
                            <!-- <li>
                                <i class="fa fa-check text-success"></i> Sturdy structure</li>
                            <li>
                                <i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                            <li>
                                <i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li> -->
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="mt-4 text-muted">General Info</h3>
                        <div class="table-responsive text-muted">
     
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Movie Id</td>
                                        <td> {{movieListDto.movieId}} </td>
                                    </tr>
                                    <tr>
                                        <td>Title</td>
                                        <td> {{movieListDto.title}} </td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td> {{movieListDto.description}} </td>
                                    </tr>
                                    <tr>
                                        <td>Release Year</td>
                                        <td> {{movieListDto.releaseYear}} </td>
                                    </tr>
                                    <tr>
                                        <td>Language</td>
                                        <td> 
                                        {{movieListDto.language.name}}
                                        </td>
                                    </tr>
     
                                    <tr>
                                        <td>Rating</td>
                                        <td> {{movieListDto.rating}} </td>
                                    </tr>
                                    <tr>
                                        <td>Start Date</td>
                                        <td> {{movieListDto.startDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>End Date </td>
                                        <td> {{movieListDto.endDate}} </td>
                                    </tr>
                                    <tr>
                                        <td>Slot 912</td>
                                        <td>
                                            <ng-template [ngIf]="isSlot912">
                                                {{movieListDto.slot912}}    
                                            </ng-template> 
                                            <ng-template [ngIf]="!isSlot912">
                                                not available
                                            </ng-template>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Slot 1215</td>
                                        <td>
                                            <ng-template [ngIf]="isSlot1215">
                                                {{movieListDto.slot1215}}    
                                            </ng-template> 
                                            <ng-template [ngIf]="!isSlot1215">
                                                not available
                                            </ng-template> 
                                            

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Slot 1518</td>
                                        <td> 
                                            <ng-template [ngIf]="isSlot1518">
                                                {{movieListDto.slot1518}}    
                                            </ng-template> 
                                            <ng-template [ngIf]="!isSlot1518">
                                                not available
                                            </ng-template>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Slot 1821</td>
                                        <td> 
                                            <ng-template [ngIf]="isSlot1821">
                                                {{movieListDto.slot1821}}    
                                            </ng-template> 
                                            <ng-template [ngIf]="!isSlot1821">
                                                not available
                                            </ng-template>

                                        </td>
                                    </tr>
                                 
                                    <tr>
                                        <td>Gold price</td>
                                        <td> {{movieListDto.goldPrice}}</td>
                                    </tr>
                                    <tr>
                                        <td>Silver price</td>
                                        <td> {{movieListDto.silverPrice}}</td>
                                    </tr>
                                    <tr>
                                        <td>Categories</td>
                                        <td> 
                                        <li *ngFor="let cat of categories">
                                               <i class="fa fa-check text-success"></i> {{cat.name}}
                                        </li>
                                        


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Actors:</td>
                                        <td> 
                                            <li *ngFor="let act of movieListDto.actors">
                                                <i class="fa fa-check text-success"></i> {{act.firstName}}
                                         </li>
                                        
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
</div>

 <!-- <app-footer></app-footer>  -->