<p>book-movie works!</p>
<button (click)="getMovieList()" class='btn btn-primary'>get movies list</button>

<!-- <pre> {{arrMovieListDto|json}}</pre> -->

<div class="container">

    <div class="row row-cols-1 row-cols-md-3">
        
        <div class="col  mt-4 mb-1" *ngFor="let movieListDto of arrMovieListDto">
          <div class="card h-100 shadow-lg rounded  bg-warning text-white " style="width: 18rem;" >
            <div class="parent zoom">
              <img src="../../../../assets/images/movies/movie1.jpg" class="card-img-top" alt="..."> 
              <div class="child"></div>
            </div>
              
            <div class="card-body">
              <h5 class="card-title">{{movieListDto.title}}</h5>
              <p class="card-text">
                {{movieListDto.description}}<br>
               start date : {{movieListDto.startDate}}<br>
               movie id: {{movieListDto.movieId}}<br>
              </p>
              <!-- <a [routerLink]="'../selected-movie/1'">selected movie</a><br> -->
               <a [routerLink]="['../selected-movie',movieListDto.movieId]"   class="btn btn-primary">Select {{movieListDto.title}}</a>  
              
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
        
    
      
    
      </div>
</div>
    
    
    
    
<!--     
    

<div class="container">

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col  mt-4 mb-1">
          <div class="card h-100 shadow-lg rounded  bg-warning text-white " style="width: 18rem;" >
            <div class="parent zoom">
              <img src="../../../../assets/images/movies/movie1.jpg" class="card-img-top" alt="..."> 
              <div class="child"></div>
            </div>
                  
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 asjfkashdf hasdf afhsd aslhfda shdflas dflkash dfkashdf klashdf lakhfsd alsdf asdfsakd fkasdlf
    
    
              </p>
               <a href="#" class="btn btn-primary">Go somewhere</a> 
              
              
              
             
              
            
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
        
    
        <div class="col  mt-4 mb-1">
          <div class="card h-100 shadow-lg rounded  bg-warning text-white " style="width: 18rem;" >
            <div class="parent zoom">
              <img src="../../../../assets/images/movies/movie1.jpg" class="card-img-top" alt="..."> 
              <div class="child"></div>
            </div>
                  
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 asjfkashdf hasdf afhsd aslhfda shdflas dflkash dfkashdf klashdf lakhfsd alsdf asdfsakd fkasdlf
    
    
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              
              
              
             
              
            
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
    
    
        <div class="col  mt-4 mb-1">
          <div class="card h-100 shadow-lg rounded  bg-warning text-white " style="width: 18rem;" >
            <div class="parent zoom">
              <img src="../../../../assets/images/movies/movie1.jpg" class="card-img-top" alt="..."> 
              <div class="child"></div>
            </div>
                  
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 asjfkashdf hasdf afhsd aslhfda shdflas dflkash dfkashdf klashdf lakhfsd alsdf asdfsakd fkasdlf
    
    
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              
              
              
             
              
            
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
    
    
    
    
    
    
    
    
    
        <div class="col  mt-4 mb-1">
            <div class="card h-100 shadow-lg rounded  bg-dark text-white" style="width: 18rem;" >
            <img src="../../../../assets/images/movies/movie3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" >15$</a>
              <a [routerLink]="'/singleMovieView'" class="btn btn-primary"> 15$ singleMovieView</a>
            </div>
            <div class="card-footer ">
              2 days ago
            </div>
          </div>
        </div>
    
      </div>
    </div>
    
    
     -->
    
    
    